{% extends "app/base.html" %}
{% block content %}
{%load rest_framework%}

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-dark">
        <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="key-table-body">
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>

  var getKeys = function(){
    $('#key-table-body').empty();
    $.ajax({
      url: '/api/user-keys/',
      dataType: 'json',
      success: function(data){
        $.each(data, function(index){
          var username = data[index]['user']['username'];
          var id = data[index]['messaging_key'];
          $('#key-table-body').append(`
            <tr>
              <td>${username}</td>
              <td>
                <a class="btn btn-light" href="/api/private-keys/${id}/get_public_key_as_file/">Download Public Key</a>
              </td>
            </tr>
          `);
        });
      }
    });
  };

  $(document).ready(function() {

    getKeys();

  });

</script>

{%endblock%}