{%load rest_framework%}

<div class="container">
  
  {%include "app/key_store_card.html"%}

  <!-- Encrypt Modal -->
  <div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Encrypt a Message for This User
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/api/message/encrypt/" method="post" onsubmit="setKeyID();">
          <div class="modal-body">
            {%csrf_token%}
            <div class="form-group">
              <label for="content">Message</label>
              <textarea class="form-control" id="content" name="content" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label for="signed">Sign Message</label>
              <input type="checkbox" id="signed" name="signed" />
            </div>
            <input type="hidden" id="recip-key-id" name="recipient_public_key" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Decrypt Modal -->
  <div class="modal fade" id="decryptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="decryptModalTitle">
            Decrypt a Message from This User
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/api/message/decrypt/" method="post" onsubmit="setKeyIDdecrypt();" enctype="multipart/form-data">
          <div class="modal-body">
            {%csrf_token%}
            <div class="form-group">
              <label for="content">File to Decrypt</label>
              <input type="file" name="file_to_decrypt" />
            </div>
            <div class="form-group">
              <label for="signed">Is Message Signed?</label>
              <input type="checkbox" id="signed" name="signed" />
            </div>
            <input type="hidden" id="sign-key-id" name="signing_key" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Sign Modal -->
<div class="modal fade" id="checkSignature" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Sign a File with This Key
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/api/sign/verify/" method="post" enctype="multipart/form-data" onsubmit="setKeyIDverif();">
        {%csrf_token%}
        <div class="modal-body">
          <div class="form-group">
            <label for="content">File to Sign</label>
            <input type="file" name="file_to_sign" />
          </div>
          <input type="hidden" id="sign-key-verif" name="signing_key" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  var messaging_key_id,
    sign_key_id = null;

  $(function () {
    $("#usernames").autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "/api/user-keys/search_usernames/",
          dataType: "json",
          data: {
            term: request.term
          },
          success: function (data) {
            console.log(data);
            response($.map(data, function (item) {
              return {
                value: item.value,
                messaging_key: item.messaging_key_id,
                signing_key: item.signing_key_id
              }
            }));
          },
        });
      },
      response: function (event, ui) {
        if (!ui.content.length) {
          var noResult = { value: null, label: "No results found" };
          ui.content.push(noResult);
        } else {
          $("#currently-selected-user").empty();
        }
      },
      minLength: 1,
      select: function (event, ui) {
        console.log("Selected: " + ui.item.value + " aka " + ui.item.messaging_key);
        setLine(ui.item.messaging_key, ui.item.signing_key);
        $('#currently-selected-user').val(ui.item.value);
      }
    });
  });


  var setKeyID = function () {
    $("#recip-key-id").val(messaging_key_id);
    return true;
  };

  var setKeyIDdecrypt = function () {
    $("#sign-key-id").val(sign_key_id);
    return true;
  };

  var setKeyIDverif = function () {
    $("#sign-key-verif").val(sign_key_id);
    return true;
  };

  var setLine = function (m, s) {
    // globals
    messaging_key_id = m;
    sign_key_id = s;
    $('#m-key').val(m);
    $('#s-key').val(s);
    $("#sign-key-verif").val(s);
    $('#download-m-key').attr('href', '/api/keys/'+m+'/get_public_key_as_file/')
    $('#download-s-key').attr('href', '/api/keys/'+s+'/get_public_key_as_file/')
  };

  $(document).ready(function(){
    var m = $('#m-key').val();
    var s = $('#s-key').val();
    $('#download-m-key').attr('href', '/api/keys/'+m+'/get_public_key_as_file/')
    $('#download-s-key').attr('href', '/api/keys/'+s+'/get_public_key_as_file/')
  })

</script>
