{%load rest_framework%}

<div class="container">
  <div class="row pb-3">
    <div class="col">
      <a class="btn btn-dark" href="#" onclick="makeKey()">+ Create New KeyPair +</a>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col">
      <button type="button" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#signModal">
        Sign File
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>My Keys</h3>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody id="key-table-body">
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Sign Modal -->
<div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Sign a File with This Key
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/api/sign/" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="modal-body">
          <div class="form-group">
            <label for="content">File to Sign</label>
            <input type="file" name="file_to_sign">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

  var getKeys = function () {
    $('#key-table-body').empty();
    $.ajax({
      url: '/api/keys/',
      dataType: 'json',
      success: function (data) {
        $.each(data, function (index) {
          var id = data[index]['secure_id'];
          var pk = data[index]['id'];
          var key = data[index]['key_from_bytes'];
          $('#key-table-body').append(`
            <tr>
              <td>${id}</td>
              <td>
                <a  class="btn btn-light"
                    href="/api/keys/${id}/get_private_key_as_file/"
                    onclick="alert('Never share your private key with anyone.')">
                    Private Key
                    <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
              </td>
              <td>
                <a class="btn btn-light" href="/api/keys/${id}/get_public_key_as_file/">
                  Public Key
                    <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
              </td>
              <td>
                <div class="btn-group" data-toggle="buttons" onclick="setKey('signing', '${id}');">
                  <label class="btn btn-light">
                    <input type="radio" name="signing" pk="${id}" id="signing-${id}"/>Signing Key
                  </label>
                </div>
              </td>
              <td>
                <div class="btn-group" data-toggle="buttons" onclick="setKey('messaging', '${id}');">
                  <label class="btn btn-light">
                    <input type="radio" name="messaging" pk="${id}" id="encryption-${id}"/>Encryption Key
                  </label>
                </div>
              </td>
              <td>
                <a class="btn btn-danger" href="#" onclick="destroyKey('${id}')">Delete</a>
              </td>
            </tr>
          `);
        });
        setChecks();
      }
    });
  };

  var setChecks = function () {
    $.ajax({
      url: '/api/user-keys/{{request.user.id}}/',
      beforeSend(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
      },
    }).done(function (data) {
      var s_pk = data['signing_key'];
      var m_pk = data['messaging_key'];
      $('#key-table-body').find('td div label input').each(function (index, element) {
        if ($(element).attr('pk') == s_pk && $(element).attr('name') == 'signing') {
          $(element).attr('checked', 'checked');
        }
        if ($(element).attr('pk') == m_pk && $(element).attr('name') == 'messaging') {
          $(element).attr('checked', 'checked');
        }
      });
    });
  }

  var makeKey = function () {
    $.ajax({
      url: '/api/keys/',
      method: 'POST',
      beforeSend(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
      },
      success: function () {
        getKeys();
      }
    });
  };

  var destroyKey = function (key_id) {
    if (confirm("Are you sure?")) {
      $.ajax({
        url: '/api/keys/' + key_id + '/',
        method: 'DELETE',
        beforeSend(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        },
        success: function () {
          getKeys();
        }
      });
    }
  };

  var setKey = function (type, key_id) {
    var name = type + '_key';
    var data = {};
    data[name] = key_id;
    json_data = JSON.stringify(data);
    $.ajax({
      url: '/api/user-keys/{{request.user.id}}/',
      method: 'PUT',
      dataType: 'json',
      contentType: 'application/json',
      data: json_data,
      beforeSend(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
      },
      success: function () {
        getKeys();
      }
    });
  };

  $(document).ready(function () {

    getKeys();
    setChecks();

    $("#key-table-body").on('click', ':button', function () {
      var id = $(this).attr('id');
      var type = $(this).attr('keytype');
      $.ajax({
        url: '/api/keys/' + id + '/get_' + type + '_key_as_file/',
        method: 'POST',
        dataType: 'octet-stream',
        beforeSend(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        },
        success: function (data) {
          console.log(data);
        }
      })
    });
  });

</script>
