{% extends "app/base.html" %}
{% block content %}
<head>
    <title>RSA</title>
</head>

<h2>Private Keys</h2>
<form action="/keys/" method="post">
    {% csrf_token %}
    <label for="gen-priv">Generate a new RSA private key</label>
    <input id="gen-priv" type="submit" value="Generate">
</form>
<form action="/keys/" method="get">
    {% csrf_token %}
    <label for="get-priv">Get all Private Keys from the Database</label>
    <input id="get-priv" type="submit" value="Get">
</form>

<h2>Public Keys</h2>
<form id="public_key_form" action="/public-key/" method="post">
    {% csrf_token %}
    <label for="gen-priv">Generate a new RSA private key</label>
    <input id="gen-priv" type="submit" value="Generate">
</form>
<form action="/public-key/" method="get">
    {% csrf_token %}
    <label for="get-priv">Get all Private Keys from the Database</label>
    <input id="get-priv" type="submit" value="Get">
</form>

<script>
    $(document).ready(
        $.ajax({
            url: '/'
        })
    );
</script>


{%endblock%}